@import "compass/css3";

@mixin checkersBackground($color) {
  @include background(linear-gradient(45deg, $color 25%, transparent 25%, transparent), linear-gradient(-45deg, $color 25%, transparent 25%, transparent), linear-gradient(45deg, transparent 75%, $color 75%), linear-gradient(-45deg, transparent 75%, $color 75%));
}

$bodyBgColor: #216C2A;
$planeWidth: 5em;
$planeHeight: 6em;
$counterBorderThickness: 2px;

* {@include box-sizing(border-box);}
body {@include checkersBackground($bodyBgColor); background-color: darken($bodyBgColor, 2%);  background-size: 50px 50px; color: #fff; font: 1em Helvetica,Arial; text-align: center;}

h1 {margin:0 auto; font:{size: 3em; weight: normal}; color: #fff; @include text-shadow(0 1px 0 rgba(255, 255, 255, 0.3), 0 -1px 0 rgba(0, 0, 0, 0.8));}
#today {margin-bottom: 2em;
  h1 {font-size: 4em;}
}
#week, #month, #year, #total {@include transform(scale(0.7,0.7)); margin-top: -3em;}

.unit {border:0; display: inline-block; color: #fff; @include text-shadow(0 1px 0 rgba(255, 255, 255, 0.3), 0 -1px 0 rgba(0, 0, 0, 0.4)); font-size: 4em;}

// todo adjust perspective  -webkit-perspective: 800; -webkit-perspective-origin: 50% 225%;
.counter {position: relative; display: inline-block; width: auto; height: auto; overflow: hidden; margin:0; padding:1px; border: $counterBorderThickness solid #ccc; @include border-radius(5px); background: #fff; @include box-shadow(inset 0 0 20px #000000);}
.spinner {position: relative; float: right; top:0; width: $planeWidth; height: $planeHeight; margin-left: 1px; @include transform-style(preserve-3d); counter-reset: digits -1;
  &:nth-child(3n+3) {margin-left: 8px;}
  &:last-child {margin-left:0;}
}

.digit {display: table; position: absolute;
  width: $planeWidth;
  height: $planeHeight;
  @include backface-visibility(hidden);
  border: 1px solid #ccc;
  @include border-radius(5px);
  @include background-image(linear-gradient(#ffffff, #cccccc, #aaaaaa));
  @include box-shadow(inset 0 0 5px #343434);

  .number {
    &:before {counter-increment: digits; content: counter(digits);};
    display: table-cell;
    vertical-align: middle;
    font: normal ($planeHeight / 1.5) Times, serif;
    color: #343434;
    text-align: center;
    text-shadow: 1px 1px #fff, -1px -1px #444;
  }
}

@for $digit from 0 through 9 {
   $angle: $digit * 36;
   $tenGonInRadius: 1.53884;
   $nthChildOfSpinner: $digit + 1;

   .digit:nth-child(#{$nthChildOfSpinner}) {@include transform(rotateX(#{$angle}deg) translateZ($planeHeight * $tenGonInRadius))}
   .spinner.roll-to-#{$digit} {@include transition(all 3s ease-in); @include transform(rotateX(-#{$angle}deg))}
}