<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Puotiradiaattori</title>
    <link rel="stylesheet" type="text/css" media="all" href="css/puotiradiaattori.css"/>
</head>
<body>
<section id="counters"></section>
<section id="connection"></section>
<script type="text/template" id='counter'>
    <section class="puotiradiaattori" id="<%= id %>">
        <h1><%= label %></h1>
        <div class="counter">
        </div><abbr class="currency" title="EUR">€</abbr>
    </section>
</script>
<script type="text/template" id='spinner'>
    <div class="spinner">
        <% _.times(10, function(digit){ %>
        <span class="plane digit-<%= digit %>"><span class="number"></span></span>
        <% }); %>
    </div>
</script>
<script src="js/lib/jquery-1.8.2.min.js"></script>
<script src="js/lib/underscore-min.js"></script>
<script src="js/lib/Bacon.min.js"></script>
<script src="js/lib/Bacon.splitByKey.js"></script>
<script src="js/lib/Bacon.skipDuplicates.js"></script>
<script src="js/lib/socket.js"></script>
<script src="js/lib/sound.js"></script>
<script src="js/puotiradiaattori.js"></script>
</body>
</html>