<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width">
    <title>Puotiradiaattori</title>
    <link rel="stylesheet" type="text/css" media="all" href="css/puotiradiaattori.css"/>
</head>
<body>
<section id="counters"></section>
<section id="connection"></section>
<script src="js/jquery-1.8.2.min.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/puotiradiaattori.js"></script>
<script type="text/template" id='counter'>
    <% _.each(Config.counters, function(counter){ %>
    <section class="puotiradiaattori" id="<%= counter.id %>">
        <h1><%= counter.label %></h1>
        <div class="counter"><%= createSpinners(counter.digits) %></div><abbr class="currency" title="EUR">€</abbr>
    </section>
    <% }); %>
</script>
</body>
</html>